*{
	margin: 0;
	padding: 0;
}
.up-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: blue;
}
.up-nav h3{
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: times new roman;
}
nav{
	height: 15vh;
	width: 100%;
	background-color: white;
}
nav h1{
	color: black;
	font-size: 50px;
	font-weight: bolder;
	font-family: times new roman;
	margin: 20px 10px;
}
span{
	color: blue;
	font-size: 70px;
}
.main{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url('../img/img 19.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main h2{
	margin-top: 50%;
	color: #fff;
}
.main div{
	display: flex;
	flex-direction: row;
	margin-top: 40%;
	color: #ffff;
}
.main div button{
	padding: 10px;
}